/*** Tabs ***/

ul.tab,
ul.tab-content {
    padding-left: 0;
}

ul.tab>li {
    display: inline-block;
    margin-right: 4px;
}

ul.tab-content {
    margin-top: -2.5rem;
}

ul.tab-content>li {
    display: none;
}

ul.tab-content>li.active {
    display: list-item;
}

ul.tab>li:before,
ul.tab-content>li:before {
    content: '';
}


/*** Forms ***/
.calculator label {
    display: inline-block;
	padding: $sp-1;
	margin-bottom: $sp-3;
	background-color: $code-background-color;
	border-radius: $border-radius;
}

.calculator input {
	border: 0;
	background: none;
	width: $sp-10;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
