/*** Tabs ***/

ul.tab,
ul.tab-content {
    padding-left: 0;
}

ul.tab>li {
    display: inline-block;
    margin-right: 4px;
}

ul.tab .tab-selector {
	position: relative;
	padding: $sp-2 $sp-3;
}

ul.tab .tab-selector:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	border-radius: $border-radius;
	background-color: $code-background-color;
	opacity: 0.6;
	z-index: -1;
}

ul.tab .active .tab-selector:before {
    opacity: 1.0;
}

ul.tab-content {
    margin-top: -1.5rem;
}

ul.tab-content>li {
    display: none;
}

ul.tab-content>li.active {
    display: list-item;
}

ul.tab>li:before,
ul.tab-content>li:before {
    content: '';
}


/*** Forms ***/
.calculator label {
    display: inline-block;
	padding: $sp-1;
	background-color: $code-background-color;
	border-radius: $border-radius;
	width: 7rem;
	height: 2.25rem;
	overflow: hidden;
	white-space: nowrap;
}

.calculator input {
	border: 0;
	background: none;
	width: 4.75rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
